@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "ubuntu";
}
.main-cow {
    background-image: url('../images/cow3.jpg');
    height: 80vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    clip-path: polygon(30% 0%, 70% 0%, 100% 0, 100% 95%, 61% 100%, 26% 94%, 0 100%, 0 1%);

}
.main-cow h1{
    padding-top: 180px;
    text-align: center;
    font-size: 60px;
    font-weight: 900;
    letter-spacing: 5px;
    word-spacing: 20px;
    color: tomato;
    
}

.type {
    margin-top: 80px;
    
}
.type h2{
    font-size:30px;
    text-align: center;
    margin-bottom: 20px; 
}

.section{
    display: flex;
    gap: 20px;
}

.section div{
    width: 33%;
}

.section div img{
    width: 100%;
}

.section div h1,p{
    padding: 10px;
}

.section div button{
    padding: 10px;
    /* width: 80%; */
    display: block;
    margin: 10px auto;
}

@media only screen and (min-width:200px) and (max-width:600px){
    .section{
        display: block;
        gap: 20px;
    }

    .section div{
        width: 100%;
        margin: 10px;
    }

    .section div img{
        width: 100%;
    }
}